.common-btn1 {
  width: 188px;
  background: linear-gradient(-21deg, #50ced5 0%, #46d1af 100%) !important;
  border-radius: 7px;
  font-size: 18px !important;
}

.common-btn1:disabled {
  background: linear-gradient(-16deg, #848d98, #97a8a7) !important;
}

.common-btn2 {
  width: 188px;
  height: 50px;
  background: linear-gradient(-16deg, #4195f6, #17e7d6) !important;
  border-radius: 25px;
  color: #1a2027;
  font-weight: bold !important;
  font-size: 18px !important;
}

.common-btn2.square {
  border-radius: 10px;
}

.common-btn2:disabled {
  background: linear-gradient(-16deg, #848d98, #97a8a7) !important;
}

.common-border {
  width: 188px;
  background: transparent !important;
  border: 1px solid #26beef;
  border-radius: 7px;
}

.common-border:disabled {
  background: transparent !important;
}

.el-image,
.el-image__placeholder,
.el-image__inner,
.el-image__error {
  background: transparent !important;
}

/* el-pagination */
.el-pagination {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0;
}

.el-pager li {
  padding: 0 0;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin-left: 0;
  margin-right: 6px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid #12c7b8;
  border-radius: 6px;
  font-size: 12px;
  line-height: 30px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #12c7b8;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev {
  background: #12c7b8 !important;
  color: #ffffff !important;
}

.el-pagination.is-background .el-pager li {
  background-color: transparent;
}

.el-pagination.is-background .btn-next {
  width: auto;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 9px;
  line-height: 30px;
  background: #12c7b8 !important;
  font-weight: bold;
  color: #ffffff !important;
  min-width: 63px;
  padding: 0 8px;
  position: absolute;
  right: 0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff !important;
  background: #12c7b8;
  background-color: #12c7b8 !important;
  border-radius: 6px;
}

.el-pagination.is-background .el-pager li {
  background-color: transparent !important;
  color: #12c7b8 !important;
}

.el-pagination.is-background .btn-next span {
  line-height: 30px;
}

.el-input__inner {
  height: 42px;
  line-height: 35px;
  border-radius: 6px;
}

.el-input__inner:hover {
  border-color: #00f9e5;
}

.el-input__inner:focus {
  border-color: #00f9e5;
  border: 1px solid #00f9e5;
  border-radius: 6px;
}

.el-textarea__inner {
  background-color: transparent;
  border-radius: 4px;
}

.el-textarea__inner:focus {
  outline: 0;
  border: 1px solid #00f9e5;
  border-radius: 6px;
}
.el-breadcrumb {
  font-size: 12px;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
  background-color: transparent !important;
}

.el-popover {
  min-width: 79px !important;
  background: #2a3543 !important;
  box-shadow: 0px 11px 16px 0px #0d1115 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 0 !important;
}

.el-select-dropdown {
  border: none !important;
  /* background-color: #1A2027 !important; */
}

.comparison-content .el-table--fit {
  border-bottom: none !important;
}

.comparison-content .el-table td.el-table__cell,
.comparison-content .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid #ebeef5;
}

.income-content .el-table--fit {
  border-bottom: none !important;
}

/* .income-content .el-table {
  border: 1px solid #1f262e !important;
} */

.el-table__empty-text {
  font-size: 12px;
}
